name: Update README cards

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate stats card
        uses: Pranesh-2005/github-readme-stats-fast-action@v1.1.1
        with:
          card: stats
          options: username=${{ github.repository_owner }}
          path: profile/stats.svg
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate streak card
        uses: Pranesh-2005/github-readme-stats-fast-action@34233bca6ca233f7ad16b2131242e58e5d105f14
        with:
          card: streak
          options: username=${{ github.repository_owner }}
          path: profile/streak.svg
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit cards
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@users.noreply.github.com"
          git add profile/*.svg
          git commit -m "Update README cards" || exit 0
          git push
